---
import Layout2Column from '../layouts/2Column.astro';
import Main from '../content/cv/main.mdx'
import Aside from '../content/cv/aside.mdx'
---

<Layout2Column title="James Basoo | CV" description="James is a creative front-end developer with 15 years of experience building robust, accessible websites.">
  <div class="card trim-block-margins" slot="main"><Main /></div>
  <div class="card trim-block-margins" slot="aside"><Aside /></div>
</Layout2Column>