:root {
  @utopia typeScale({
    minFontSize: 16,
    maxFontSize: 18,
    minTypeScale: 1.16,
    maxTypeScale: 1.18,
    positiveSteps: 5,
    negativeSteps: 2
  });

  --font-family--sans: var(--font-atkinson);
  --font-family--mono: var(--font-atkinson-mono);
}
