---
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
---

<header class="header--main">
	<!-- <div class="theme-switcher">
		<label for="theme" class="visually-hidden">Theme Switcher</label>
		<button type="button" name="theme" id="theme-switcher__light" value="light" title="Light">
		<button type="button" name="theme" id="theme-switcher__holodeck" value="holodeck" title="Holodeck">
	</div> -->

	<Logo />

	<nav class="nav--main" aria-label="Main">
		<h2 class="visually-hidden">Top level navigation menu</h2>
		<ul>
			<!-- TODO: aria-current="page" -->
			<li><HeaderLink href="/">Home</HeaderLink></li>
			<li><HeaderLink href="/blog">Blog</HeaderLink></li>
			<li><HeaderLink href="/cv">CV</HeaderLink></li>
		</ul>
	</nav>
</header>