---
import BaseLayout from "./Base.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
  <main class="layout--1col">
    <slot />
  </main>
</BaseLayout>