---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<slot name="head-start"/>
		<BaseHead title={title} description={description} />
		<slot name="head-end"/>
	</head>

	<body>
		<slot name="body-start"/>
		<Header />
		<slot />
		<Footer />
		<slot name="body-end"/>
	</body>
</html>
